.mainfooter{
  background-color:rgb(19, 12, 19);
}

.mainheadfooter {
  display: grid;
  grid-template-columns: 80% 20%;
}

.leftfooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
}

.leftfooter div {
  margin-bottom: 20px;
}

.leftfooter h1 {
  font-size: 1.2em;
  font-weight: 600;
}

.rightfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainheadfooter1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.submainfooter1 {
  width: 100%;
  /* padding: 50px; */
  padding-left:50px ;
  padding-right:50px ;
  padding-bottom:10px ;


}

.submainfooter1 p {
  font-size: 0.9em;
}

.submainfooter1 h1 {
  font-weight: bolder;
}

@media (max-width: 768px) {
  .mainheadfooter {
    display: grid;
    grid-template-columns: 100%;
  }

  .mainheadfooter1 {
    grid-template-columns: 100%;
  }
}

/*  */

.footer {
  /* overflow:hidden; */
  /* background:transparent; */
  z-index: 1;
}

.footer-content {
  background-color: transparent;
}

.background-video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subcontent {
  padding-top: 1.25rem;
}

.subcontent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-mono {
  font-family: "Courier New", Courier, monospace;
}

.font-extrabold {
  font-weight: 800;
}

.text-green-300 {
  color: #68d391;
}

.toggle-button {
  background: none;
  border: none;
  color: #68d391;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
}

.subcontent-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subitem {
  width: 200px;
  padding: 0.5rem 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subitem a {
  color: #d9e0ee;
  text-decoration: none;
}

.subitem:hover {
  background-color: #e5f0e9;
  border-radius: 10px;
  color: rgb(15, 15, 15);
  padding-left: 5px;
}

.subitem a:hover {
  color: rgb(15, 15, 15);
  padding-left: 5px;
}

.show {
  display: block;
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FooterMobile.css */

.toggle-button {
  display: block; /* Show toggle button only on mobile */
  background: none;
  border: none;
  color: #68d391;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-top: 0.5rem; /* Adjust margin as needed */
}

.subcontent-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.subitem {
  width: 200px; /* Full width for sub-items */
  padding: 0.5rem 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subitem a {
  display: block; /* Ensure sub-item links take full width */
  color: #d9e0ee;
  text-decoration: none;
}

.subitem:hover {
  background-color: #e5f0e9;
  border-radius: 10px;
  color: #f9f7f7;
  padding-left: 5px;
}

.subitem a:hover {
  color: #0f0f0f;
  padding-left: 5px;
}

.show {
  max-height: 1000px; /* Adjust based on your content height */
}

@media screen and (min-width: 769px) {
  .toggle-button {
    display: none; /* Hide toggle button on screens larger than 768px */
  }

  .subcontent-list {
    max-height: none; /* Always show sub-items on desktop */
    overflow: visible; /* Allow overflow on desktop */
    transition: none; /* Disable transition on desktop */
  }

 
}

@media (max-width:760px){
  .sub3{
    margin-top: 30px;
  }
}

/* footer */
.footer-icons {
  height: auto;
}

/* socials */

.cardf {
  position: relative;
  width: 300px;
  height: 300px;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
}

.background {
  position: absolute;
  inset: 0;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #060813 0%,
    #a59ea5 46%,
    #251f12 100%
  );

  
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
}

.logo .logo-svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: -100%;
}

.box1::before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #ff53d4 60%,
    #62c2fe 90%
  );
}

/* .box1:hover::before {
      opacity: 1;
    } */

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 85%;
  height: 85%;
  bottom: -85%;
  left: -85%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00acee 90%);
}

/* .box2:hover::before {
      opacity: 1;
    } */

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

/* .box3:hover::before {
      opacity: 1;
    } */

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 55%;
  height: 55%;
  bottom: -55%;
  left: -55%;
  transition-delay: 0.6s;
}

.box4::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

/* .box4:hover::before {
      opacity: 1;
    } */

.box4:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box5 {
  width: 35%;
  height: 35%;
  bottom: -35%;
  left: -35%;
  transition-delay: 0.6s;
}

.box5::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

/* .box5:hover::before {
      opacity: 1;
    } */

.box6 {
  width: 20%;
  height: 20%;
  bottom: -20%;
  left: -20%;
  transition-delay: 0.6s;
}

.box6::before {
  background: radial-gradient(circle at 30% 107%, #d0d2e0 0%, #7b6e85 90%);
}

/* .box6:hover::before {
      opacity: 1;
    } */

.cardf:hover {
  transform: scale(1.1);
}

.cardf:hover .box {
  bottom: -1px;
  left: -1px;
}

.cardf:hover .logo {
  transform: translate(70px, -52px);
  letter-spacing: 0px;
}

.copyright-container {
  /* background-image: linear-gradient(
      43deg,
      #060813 0%,
      #a59ea5 46%,
      #251f12 100%
    ); */
  background-color: transparent;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

@media (max-width: 720px) {
  .socialContainer {
    width: 30px;
    height: 30px;
  }
}
/* instagram*/
.containerOne {
  background-color: #746d70;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo {
  background-color: #746d70;

  /* background-color: #abd4e4; */
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree {
  /* background-color: #8a9da7; */
  background-color: #746d70;

  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour {
  /* background-color: #a0dbd4; */
  background-color: #746d70;

  transition-duration: 0.3s;
}

.containerFive {
  /* background-color: #ee5d5d; */
  background-color: #746d70;

  transition-duration: 0.3s;
}

.socialContainer {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
