/* for animation in mobile */
.main-section {
  height: 50vh;
}

@media (max-width: 1024px) {
  .main-section {
    height: 85vh;
  }
}

@media (max-width: 350px) {
  .main-section {
    height: 100vh;
  }
}

.contentA {
  position: absolute;
  top: 0;
}

.contentA .text {
  display: block;
  color: rgba(6, 153, 55, 0.765);
  font-size: 20px;
  margin-top: 20px;
  font-weight: 900;
}

.contentA .title {
  display: block;
  color: #9ea5a1;
  font-weight: 900;
  font-size: 40px;
}

.container {
  position: relative;
  width: 680px;
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: transparent; */
  /* background-color: white; */
}

.background-image {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  object-fit: cover;
  position: relative;
  border-radius: 16px;
  z-index: -1;
  /* background-color: white; */
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 10px); /* Two cards in a row for smaller screens */
  }
  .e-card {
    width: calc(50% - 10px); /* Two cards in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Single column for mobile screens */
  }

  .e-card {
    width: 100%; /* Two cards in a row for smaller screens */
  }

  /* .background-image {
    height: 200px;
  } */
}

.e-card {
  /* margin: 100px auto; */
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  /* position: absolute; */
  /* /* left: 0; */
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* overflow: hidden; */
  /* z-index: -1; */
}

.wave {
  position: absolute;
  z-index: -1;
  width: 2000px;
  /* width:100%; */
  height: 1400px;
  opacity: 0.1;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: relative;
  /* top: 5.6em; */
  /* left: 0; */
  /* right: 0; */
  color: rgb(255, 255, 255);
  width: 500px;
  font-weight: 600;
  z-index: 2;
  background-color: antiquewhite;
}

@media (max-width: 920px) {
  .infotop {
    width: 100%;
  }
}

.name {
  width: 100%;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  /* top: 1em; */
  text-align: center;

  /* text-transform: lowercase; */
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 200px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cube-container {
  position: relative;
  width: 200px;
  height: 200px;
  /* perspective: 800px; */
  /* margin: 50px auto; */
  /* z-index: 1; */
  /* background-color: #ffffff; */
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
  box-sizing: border-box;

  /* background-color: #ffffff; */
}

.face {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgb(214, 21, 21);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  /* background-color: black; */
  opacity: 0.9;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    #745f5f,
    #355c7d,
    #557d35,
    #424235,
    #d34646
  );
  box-shadow: 0 0 100px rgba(95, 83, 83, 0.8);
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube-container:hover .cube {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@media (max-width: 480px) {
  .face {
    height: 150px;
    width: 150px;
    line-height: 150px;
    /* background-color: black; */
  }

  /* .cube {
    position: relative;
    width: 75%;
    height: 75%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
    background-color: #413a3a;
  } */

  .front {
    transform: translateZ(75px);
  }

  .back {
    transform: rotateY(180deg) translateZ(75px);
  }

  .right {
    transform: rotateY(90deg) translateZ(75px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(75px);
  }

  .top {
    transform: rotateX(90deg) translateZ(75px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(75px);
  }
}

/* btn */

.btn {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  /* overflow: hidden; */
  cursor: pointer;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  /* background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%); */
  background-image: linear-gradient(
      to right,
      #ff6b6b,
      #355c7d,
      #557d35,
      #cfcf16,
      #a51f1f
    )
    1;

  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (max-width: 480px) {
  .btn {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    /* overflow: hidden; */
    cursor: pointer;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    /* background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%); */
    background-image: linear-gradient(
        to right,
        #ff6b6b,
        #355c7d,
        #557d35,
        #cfcf16,
        #a51f1f
      )
      1;

    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

/* #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  } */

/* strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  } */

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.buttonscard {
  position: relative;
  /* background-color: wheat; */
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

@media (max-width: 920px) {
  .buttonscard {
    position: relative;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    justify-content: center;
    align-items: center;
    margin: auto;
    bottom: 30px;
  }
}

.card1_text {
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

.btncard1 {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 12em;
  height: 4em;
  line-height: 2em;
  padding: 5px;
  text-align: center;
  background: linear-gradient(90deg, #618892, #4180f4, #3bc1ff, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  margin: 10px;
}

@media (max-width: 480px) {
  .btncard1 {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 10px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 14em;
    height: 3em;
    line-height: 2em;
    padding: 3px;
    text-align: center;
    background: linear-gradient(90deg, #618892, #4180f4, #3bc1ff, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    margin: 10px;
  }
}
